body.login{
    background: url(../img/bg.jpg);
    background-size: cover;
    align-items: center;
    display:flex ;
}

#login {
    background: rgba(255, 255, 255, 0.5);
    padding: 40px;
    border-radius: 25px;
}

.login form {
}
.language-switcher{
   display: none;
}