/* Header Area */
#header_area{
    padding: 10px 0;
    margin: 0;
}
#header_area .col-md-3 a{
    text-decoration: none;
}
#header_area .col-md-3 a img{
    width: 40%;
}








/* Footer Area */
/* #footer_area{
} */
.coppyright_area{
    padding: 10px 0;
    color: #fff;
    text-align: center;
}